:root {
    --celeste: #A4F4F2;
    --tiffany-blue: #17BEBB;
    --raisin-black: #2E282A;
}

body {
    background-color: var(--celeste);

}

header {
    background-color: var(--raisin-black);
    height: 15vh;
    border-radius: 10px;
    color: var(--celeste);
    text-align: left;
    
    padding: .5em;
}

h1 {
    padding: 0.5em;
   
}

h2, h3 {
    color: var(--raisin-black);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: .5em;
    
}

.button {
    background-color: var(--tiffany-blue);
    border-radius: 5px;
    width: 10%;
    padding: .5em;
    margin: 1em;
    color: var(--celeste);
    box-shadow: 5px 5px 10px var(--raisin-black);
    
}

.card {
    border: solid 2px var(--raisin-black);
    border-radius: 10px;
    margin-bottom: 2em;
    margin-top: 1em;
    box-shadow: 5px 5px 7px var(--raisin-black);
    
}

.cardHeader {
    height: 100%;
    
    border: solid 2px var(--celeste);
    width: 90%;
    background-color: var(--raisin-black);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    color: var(--celeste);
    text-align: top;
    
    background-image: linear-gradient(260deg, var(--celeste),var(--celeste),var(--tiffany-blue));
}

.cardTitle {
    padding-bottom: 0;
    margin-top: -.05em;
    
}

 .cardText {
    padding-left: 1em;
}

.border {
    background-image: linear-gradient(260deg, var(--celeste),var(--celeste),var(--tiffany-blue));
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

.form {
    color: var(--raisin-black);
    padding-left: 1em;
    padding-bottom: .5em;
    display: flex;
    flex-direction: column;
}

.input {
    padding-left: 1em;
}