 

 <div>
    <h3>Login</h3>
    <form class="login">
        <div>
            <label for="username" class="form">Username: </label>
            <input type="text" name="username" id="usernameLogin" class="form">
        </div>
        <div>
            <label for="password" class="form">Password: </label>
            <input type="password" name="password" id="passwordLogin" class="form-control">
        </div>
        <div>
            <button type="submit" id="loginButton" class="button">Login</button>
        </div>
    </form>
    <h4>New here?</h4>
    <button class="button"><a href="/api/users/signup" class="text-reset text-decoration-none">Sign Up</a></button>
</div>
        
<script src="/javascript/login.js"></script>
