<div class="">
            <h2>Sign Up</h2>
            <form class="">
                <div>
                    <label for="username" class="form-label">Username: </label>
                    <input type="text" name="username" id="username-signup" class="form-control">
                </div>
                <div>
                    <label for="password" class="form-label">Password (8 characters min): </label>
                    <input type="password" name="password" id="password-signup" class="form-control">
                </div>
                <div>
                    <button type="submit" id="signupBtn" class="button">Sign Up</button>
                </div>
            </form>
            <h2>Already a member?</h2>
            <button class="button"><a href="/api/users/login" class="text-reset text-decoration-none">Login</a></button>
        </div>
        
        <script src="/javascript/signup.js"></script>